<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


  <h1><%= title %></h1>
  <nav>
    <a href="/flights">All Movies</a>
    <a href="/flights/new">New Movies</a>
  </nav>
  
  <%- include('./partials/footer') %> 
