<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css">
<%- include('../partials/nav') %>

<main>
  <body>
    <h1><%= title %> </h1>
    <form action="/meals" method="POST">
      <label>Meal:
        <input type="text" name="name" required>
      <button type="submit">Add Meal</button>
    </form>
</main>


<%- include('../partials/footer') %> 